<div class="navbar-area">
  <div class="container">

    <nav class="row align-items-center">
      <!--Logo-->
      <div class="col-lg-4 col-sm-4 navbarLogo">
        <a href="">
          <img src="assets/images/logo.png" alt="Logo" >
        </a>
      </div>

      <!--Menu-->
      <div class="col-lg-4 col-sm-4">
        <ul class="navbar-center-content ">
          <li>
            <a href="">Inicio</a>

          </li>
          <li>
            <a href="">Reserva</a>

          </li>
          <li>
            <a href="">Contacto</a>

          </li>
        </ul>

      </div>

      <!--From contact-->
      <div class="col-lg-4 col-sm-4">
        <form action="" class="top-header-left-content">
          <input type="text" name="Buscar" placeholder="Buscar">
          <button type="submit">
            <i></i>
          </button>
        </form>
    </div>
    </nav>

  </div>
</div>
