<!--Search Page-->
<div>
  <div>
    <div>
      <h2>Hoteles en cuaquier parte del Mundo</h2>
      <p>Buscar Hoteles </p>
      <form action="">
        <div>
          <div>
            <div>
              <label for="">Lugar</label>
              <input type="text" placeholder="Hacia Donde vas?">
              <img src="" alt="buscar">
            </div>
          </div>
          <div>
            <div>
              <label for="">Fecha de Ingreso</label>
              <img src="" alt="calendar">
            </div>
          </div>
          <div>
            <div>
              <label for="">Fecha de SAlida</label>
              <img src="" alt="Calendar">
            </div>
          </div>
          <div>
            <div>
              <label for="">Pasajeros</label>
              <input type="text" placeholder="Agregar">
              <img src="" alt="buscar">
            </div>
          </div>
          <div>
            <div>
              <button type="submit">
                <i>

                </i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
